// Macros & constants

#colors {
  @sub-header: #ff7e00;
  @link: rgb(0, 124, 195);
  @background: #f0f0f0;
  @text: black;
  @header-background: #20201f;
}

.list-icon (@url: url("")) {
  background-image: @url;
  background-repeat: no-repeat;
  background-position: 0 2px;
  padding-left: 20px;
}

.box-shadow (@hOffset: 0px, @vOffset: 0px, @blurRadius: 0px, @color: black) {
  -moz-box-shadow:    @hOffset @vOffset @blurRadius @color;
  -webkit-box-shadow: @hOffset @vOffset @blurRadius @color;
  box-shadow:         @hOffset @vOffset @blurRadius @color;
}


// Reset

* {
  margin: 0;
  padding: 0;
}


// Includes

@import "views/layout";


// Rules

body {
  margin: 0;
  padding: 0;
  background: #colors[@background];
  color: #colors[@text];
  font: 16px/150% "Helvetica Neue", Arial, Verdana, sans-serif;
  text-align: center;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 980px;
  margin: 0 auto;
  text-align: left;
}

a {
  outline: none;
  color: #colors[@link];
  font-weight: bold;
  text-decoration: none;
}

form {
  text-align: left;
}

div.error,
span.error {
  color: #CC0000;
}

input.error {
  border: 1px solid #CC0000;
}

#content {
  display: none;
}

#header-shadow {
  .box-shadow(0px, 0px, 4px, #666666);
  
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 40px;
  margin-left: -4px;
  margin-right: -4px;
}

#header {
  float: left;
  width: 100%;
  height: 40px;
  margin: 0 0 30px;
  background-color: #colors[@header-background];
  
  #logo {
    float: left;
    margin-top: 9px;
  }
  
  #status {
    float: right;
    margin-top: 5px;
    
    #login-trigger {
      padding: 3px;
      
      a {
        color: white;
      }
    }
    
    #login-trigger.active {
      background-color: white;
      
      a {
        color: black;
      }
    }
  }
}

#login-form {
  .box-shadow(0px, 1px, 4px, #222222);
  
  display: none;
  position: absolute;
  background: white;
  padding: 1em;
  
  label,
  input {
    margin-right: 0.2em;
  }
}

section {
  .twelve-col;
  
  padding: 1em;
  margin-bottom: 1em;

  background-color: white;
  
  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }
  
  h2:first-child {
    margin-top: 0;
  }
}

ul.events {
  line-height: 150%;

  li {
    height: 1.5em;
    overflow: hidden;
  }
}

ul.legend {
  li {
    display: inline;
    margin-right: 1em;
  }
}

li            { .list-icon(url("../images/icons/bullet_black.png")); }
li.loading    { .list-icon(url("../images/icons/time.png")); }
li.story      { .list-icon(url("../images/icons/note.png")); }
li.error      { .list-icon(url("../images/icons/error.png")); }
li.commit     { .list-icon(url("../images/icons/page_white_go.png")); }
li.note       { .list-icon(url("../images/icons/note.png")); }
li.comment    { .list-icon(url("../images/icons/comment.png")); }
li.todo       { .list-icon(url("../images/icons/cog.png")); }
li.feature    { .list-icon(url("../images/icons/star.png")); }
li.bug        { .list-icon(url("../images/icons/bug.png")); }
li.accept     { .list-icon(url("../images/icons/accept.png")); }
li.rejection  { .list-icon(url("../images/icons/exclamation.png")); }
li.completion { .list-icon(url("../images/icons/flag_green.png")); }
li.tweet      { .list-icon(url("http://twitter-badges.s3.amazonaws.com/t_mini-b.png")); }